[submodule "DME/vendor/spdlog"]
	path = DME/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "DME/vendor/GLFW"]
	path = DME/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "DME/vendor/glm"]
	path = DME/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "DME/vendor/yaml-cpp"]
	path = DME/vendor/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp
[submodule "DME/vendor/ImGuizmo"]
	path = DME/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "DME/vendor/Box2D"]
	path = DME/vendor/Box2D
	url = https://github.com/TheCherno/box2d
[submodule "DME/vendor/ImGui"]
	path = DME/vendor/ImGui
	url = https://github.com/ocornut/imgui
	branch = docking
