#Ignoring

#dirs
.vs/
bin/
bin-int/
DME/vendor/VulkanSDK
Common/assets/cache
scripts/__pycache__

#files
**/*.log
**/*.user
**/*.sln
**/*.json
**/*.ini
**/*.sln
**/*.vcxproj
**/*.vcxproj.filters
**/*.vcxproj.user
**/*.csproj

# Directories
