#Ignoring

#dirs
.vs/
.vscode/
.idea/
Build/
Binaries/
Intermediate/
DME/vendor/VulkanSDK
**/assets/cache
scripts/__pycache__

#files
**/*.log
**/*.user
**/*.sln
**/*.json
**/*.ini
**/*.lib
**/*.pch
**/*.ilk
**/*.pdb
**/*.vcxproj
**/*.vcxproj.filters
**/*.vcxproj.user
**/*.csproj

# Directories
